body {
  padding: 0;
  margin: 0;
  background: #eee;
  font: 14pt/17pt Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.toolbar {
  padding: 5px;
  background: #222;
  color: #eee;
  height: 37px;
}
.toolbar button {
  background: #f0f0f0;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  outline: 0;
  width: 70px;
}
.toolbar .step-label {
  padding: 0 5px;
}
.editor-container {
  position: absolute;
  top: 47px;
  bottom: 0;
  left: 0;
  width: 50%;
}
.editor-container .CodeMirror {
  height: 100%;
}
.CodeMirror .current-step {
  background: yellow;
}
.tree-container {
  position: absolute;
  top: 47px;
  bottom: 0;
  right: 0;
  width: 50%;
}
.tree-container text {
  fill: #fff;
}
.tree-container .tree-node {
  fill: #444;
}
.tree-container line {
  stroke: #777;
  stroke-width: 3px;
}
.tree-container line.duplicate-pointer {
  stroke: #E62727;
}
